<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101052007027-fphsm5gv4hm60620bemi4gjukvacsdit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101052007027-fphsm5gv4hm60620bemi4gjukvacsdit</string>
	<key>API_KEY</key>
	<string>AIzaSyB0diZef53W5Q1SVsy6MNw8N9v18OPN_ww</string>
	<key>GCM_SENDER_ID</key>
	<string>101052007027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dMO.OurArt</string>
	<key>PROJECT_ID</key>
	<string>our-art</string>
	<key>STORAGE_BUCKET</key>
	<string>our-art.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101052007027:ios:f7c5e9c708efd9bce06006</string>
</dict>
</plist>